<!--start interpolation -->
<h3>{{title}}</h3>
<!-- end interpolation -->

<!-- start pipes -->
<h3>My birthday is {{myBirthDay | date}}</h3>
<h3>My name is {{myName | uppercase}}</h3>
<!-- end pipes -->

<!-- start property binding -->
<button [disabled]="toggleButton">Button</button><!-- Toggling button functionality -->
<!-- Bind values between components example is done in the component interaction from parent to child -->
<!-- end property binding -->

<!-- Start Attribute, class, and style bindings -->

<!-- start attribute binding  -->
<div>
    <table>
    <tr><td [attr.colspan]="3">three</td></tr>
    <tr><td>1</td><td>2</td><td>3</td></tr>
    </table>
</div>
<!-- end attribute binding  -->

<!-- start class binding  -->
<h3 [class.classBinding]="isClassBinding">its a example of class binding</h3>
<!-- end class binding  -->

<!-- start style binding  -->
<!-- we can set inline styles using style binding  -->
<h3 [style.color]="'green'">This is inline style binding</h3>
<h3 [style.font-size.px]="'12'">This style binding is set for true value</h3>
<h3 [style.font-size.%]="'220'">This style binding is set for false value</h3>
<!-- end style binding  -->

<!-- End Attribute, class, and style bindings -->

<!-- we have already seen the event binding and also the custom event handling  -->

<!-- Start Two-way Data Binding in Angular -->
Enter the value : <input [(ngModel)]="value">
<br>
Entered value is : {{value}}
<br>
<!-- End Two-way Data Binding in Angular -->

<!--Start Template variable  -->
Enter the phone number :<input #phone placeholder="phone number" />
<br>
<button (click)="callPhone(phone.value)">Call</button>
<!--End Template variable  -->

